<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap-grid.css' integrity='sha512-hhSu9overYjKfSjPCtJW3688VHkfBh+W1pR5Mysll91bOJwGjYntytGTtVXb2aisFOaYXXDrO38NKXDRPJWu7A==' crossorigin='anonymous'/>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/main.css">
    <title>Mim Forum</title>
</head>
<body>
    <%- include('nav.ejs') %>

    <div class="search-container container">
        <form action="/list/page/1/search" method="GET">
            <input name="val" class="search__input" type="text" placeholder="검색하기">
            <button type="submit" class="search__btn">검색</button>
        </form>
    </div>

    <div class="post-container container">
        <div class="row">
            <% for(let i = 0; i < result.length; i++){ %>
            <div class="post__box col-12 default-mt flex">
                <div class="post__left">
                    <!-- 작성자, 글제목, 글내용 -->
                    <div class="post__title">
                        <a href="/list/detail/<%= result[i]._id %>" method="get">
                            <%= result[i].title %>
                        </a>
                    </div>
                </div>
                <div class="post__right flex">
                    <div class="post__ico-box flex">
                        <a href="/list/edit/<%= result[i]._id %>">
                            <i class="fa-solid fa-pencil"></i>
                        </a>
                    </div>
                    <div class="post__ico-box flex delete-btn" data-id="<%= result[i]._id %>">
                        <i class="fa-solid fa-trash-can"></i>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>

    <div class="pagenation-container container">
        <div class="row">
            <div class="col-12 pagenation-box">
                <!-- 페이지네이션 -->
            </div>
        </div>
    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js' integrity='sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==' crossorigin='anonymous'></script>
    <script>
        $('.nav__menu-list').removeClass('active');
        $('.nav__menu-list:nth-child(2)').addClass('active');
    </script>

    <script>
        $('.delete-btn > i').css('pointerEvents', 'none');
        for (let i = 0; i < '<%= result.length %>'; i++) {
        // AJAX로 삭제버튼 기능 만들기
            document.querySelectorAll('.delete-btn')[i].addEventListener('click', (e)=>{
                // fetch('/url~~~', {기능 작성}) << url주소로 get요청 날려줌
                // query string == /url?데이터이름=데이터값&데이터이름2=데이터값2
                fetch('/post_delete?id=' + e.target.dataset.id, {
                    method : 'delete',
                })
                .then((r)=>r.text())
                .then((r)=>{
                    e.target.parentElement.parentElement.style.display = 'none'
                })
            })
        }

        // pagenation 버튼 만들기 및 링크 넣기
        const pageNum = Math.ceil('<%= pageNum.length %>' / 5);
        const searchVal = '<%= searchVal %>';
        let pageNumCnt = 0;
        for (let i = 0; i < pageNum; i++) {
            pageNumCnt++;
            let pageNumElement = `<a class="pagenation__btn" href="/list/page/${pageNumCnt}/search?val=${searchVal}">${pageNumCnt}</a>`
            $('.pagenation-box').append(pageNumElement)
        }
    </script>
</body>
</html>